.stats-section {
  width: 100%;
  background-color: #037CC1;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  max-width: 1270px;
  margin: 0 auto;
  color: white;
  padding: 3rem 3rem 1rem;
}

.counter-item {
  flex: 1;
  text-align: left;
  background-image: repeating-linear-gradient(0deg, #ffffff70, #ffffff70 5px, transparent 5px, transparent 19px, #ffffff70 19px);
  background-size: 1px calc(100% + 19px);
  background-position: 0 0;
  background-repeat: no-repeat;
  animation: borderAnimation 0.6s infinite linear;
  padding-bottom: 1.5rem;
}

@keyframes borderAnimation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -19px;
  }
}

.counter-item h2 {
  background-image: linear-gradient(0deg, transparent 6px, #ffff 6px, #ffffff 40px, transparent 1px);
  background-size: 3px;
  background-position: 0 0;
  background-repeat: no-repeat;
  font-size: 2.5rem;
  margin: -0.5rem 0 .813rem -1px;
  font-weight: 550;
  color: #ffffff;
  padding: 0 2rem;
  transform: translateY(20px);
  animation: fadeInUp 0.3s ease-out forwards;
}

.counter-item p {
  font-size: .938rem;
  margin: 0;
  line-height: 1.3;
  padding: 0 2rem;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease-out forwards;
}

@media (max-width: 768px) {
  .stats-container {
    flex-direction: column;
    padding: 3rem 2rem 0rem;
  }

  .counter-item {
    padding-bottom: 2rem;
  }

  .counter-item h2, .counter-item p {
    padding: 0 1.5rem;
  }

  .counter-item:last-child {
    border-bottom: none;
    padding-bottom: none;
  }
}