.key-solutions {
  font-family: 'Rubik', sans-serif;
  margin: 0 auto;
}

.ks-container {
  margin: 0 auto;
  max-width: 1270px;
  padding: 1rem;
}

.key-solutions h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: #0a2540;
}

.key-solutions .description {
  text-align: center;
  color: #425466;
  font-size: 1rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
  max-width: 650px;
}

.tabs {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-bottom: 1rem;
}

.tabs::-webkit-scrollbar {
  display: none;
}

.tabs.overflowing {
  cursor: grab;
}

.tabs.overflowing:active {
  cursor: grabbing;
}

.tab {
  font-family: 'Rubik', sans-serif;
  font-size: 0.938rem;
  font-weight: 450;
  padding: 12px 18px;
  background-color: #f6f9fb;
  border: 1px solid rgba(171,181,197,.3);
  color: #505258;
  border-radius: 2rem;
  cursor: pointer;
  white-space: nowrap;
  flex-shrink: 0;
  transition: color, border, background-color 0.3s ease;
}

.tab:hover {
  border: 1px solid #0077be;
  background-color: #dbf1ff;
  color: #0077be;
}

.tab.active {
  background-color: #0077be;
  border: none;
  color: white;
}

@media (min-width: 768px) {
  .tabs {
    justify-content: center;
  }
}