.header {
  font-family: 'Rubik', sans-serif;
  position: sticky;
  top: 0;
  z-index: 99999;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #e5e7eb;
}

.blur-overlay {
  position: fixed;
  top: 6rem; /* Height of the header */
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 40;
  display: none;
}

.blur-overlay.active {
  display: block;
}

.nav-container {
  display: flex;
  height: 6rem;
  align-items: center;
  padding: 0 1rem;
  max-width: 1270px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  text-decoration: none;
  color: inherit;
}

.logo svg {
  width: 190px;
  height: 96px;
}

.nav-menu {
  display: flex;
  justify-content: center;
  flex: 1;
}

.nav-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0 1rem;
  position: relative;
}

.nav-item-with-dropdown {
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: #0a2540;
  font-size: 0.938rem;
  font-weight: 450;
  display: flex;
  align-items: center;
}

.nav-link-with-dropdown {
  cursor: pointer;
}

.nav-link:hover {
  color: #0077be;
}

.dropdown-arrow {
  margin-left: 0.5rem;
  transition: transform 0.2s ease;
}

.nav-item-with-dropdown:hover .dropdown-arrow {
  transform: rotate(180deg);
}

.nav-dropdown {
  position: absolute;
  top: 3.5rem;
  left: 50%;
  transform: translateX(-50%);
  color: #111111;
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 0.875rem;
  display: none;
  min-width: 200px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 1000;
  padding: 2px;
}

.nav-item-with-dropdown:hover .nav-dropdown {
  display: block;
}

.nav-item-with-dropdown::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 3.5rem; /* Baby to you all I am is the invisible man */
  background: transparent;
}

.solutions-dropdown {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  min-width: 780px;
}

.nav-item-with-dropdown:hover .solutions-dropdown {
  display: grid;
}

.solutions-item {
  display: flex;
  align-items: start;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.3s ease;
  padding: 2rem;
  padding-left: 2.5rem;
  border-radius: 0.875rem;
}

.solutions-item:hover .solutions-title {
  color: #0077be;
}

.solutions-item:hover {
  background-color: #eef8ff;
  border-radius: 0.875rem;
}

.solutions-icon {
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 1rem;
}

.solutions-content {
  flex-grow: 1;
}

.solutions-title {
  font-size: .938rem;
  color: #0a2540;
  font-weight: 500;
  margin: 0 0 0.5rem 0;
}

.solutions-description {
  font-size: 0.75rem;
  color: #425466;
  margin: 0;
  line-height: 1.125rem;
}

.button-container {
  display: flex;
}

.button {
  font-family: 'Rubik', sans-serif;
  padding: 0.75rem 2rem;
  border-radius: 2rem;
  font-size: 0.938rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-outline {
  background-color: transparent;
  border: 1px solid #0077be;
  color: #0077be;
  margin-right: 0.5rem;
}

.button-outline:hover {
  background-color: #0077be;
  color: white;
}

.button-primary {
  background-color: #0077be;
  border: none;
  color: white;
}

.button-primary:hover {
  background-color: #00a2ff;
}