.ubiquiti-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.unifi-section {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.unifi-list {
  order: 1;
  flex: 1;
  max-width: 400px;
}

.unifi-list h3 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 1rem;
}

.unifi-item {
  margin-bottom: 24px;
}

.unifi-item-header {
  display: flex;
  align-items: center;
}

.unifi-item .number {
  background-color: #e5f2f9;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 1rem;
  flex-shrink: 0;
}

.unifi-item h4 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.unifi-item-content {
  padding-left: 3.5rem;
}

.unifi-item p {
  font-size: 1rem;
  color: #80878f;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: left;
  line-height: 1.5rem;
}

.watch-video {
  color: #0077be;
  text-decoration: none;
  font-size: 1rem;
  text-align: left;
  display: flex;
  align-items: center;
  margin-top: 5px;
  transition: color 0.25s ease-in-out;
}

.watch-video:hover {
    color: #005d94;
}

.watch-video svg {
    margin-left: 10px;
    transition: transform 0.25s ease-in-out;
}

.watch-video:hover svg {
    transform: translateX(3px);
}
  
.unifi-video {
  order: 2;
  flex: 1;
}

.video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  background-color: #000;
  border-radius: 8px;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.video-controls {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 10;
}

.play-pause-btn {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.play-pause-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.progress-ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-linecap: round;
}

.feature-cards-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.feature-cards {
  width: 100%;
  gap: 1rem;
}

.feature-card {
  flex-shrink: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 8px;
  overflow: hidden;
}

.card-image {
  height: 200px;
  position: relative;
  overflow: hidden;
}

.card-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 32px 32px 48px;
} 

.card-content h3 {
  text-align: left;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 1rem;
  font-weight: 500;
}

.card-content p {
  text-align: left;
  font-size: 1rem;
  color: #80878f;
  line-height: 1.5rem;
  margin-top: 0px;
}

.learn-more {
  color: #0077be;
  text-decoration: none;
  font-size: 1rem;
  text-align: left;
  display: flex;
  align-items: center;
  margin-top: 5px;
  transition: color 0.25s ease-in-out;
}

.learn-more:hover {
    color: #005d94;
}

.learn-more svg {
    margin-left: 10px;
    transition: transform 0.25s ease-in-out;
}

.learn-more:hover svg {
    transform: translateX(3px);
}

@media (min-width: 1024px) {
  .feature-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three cards per row */
  }

  .swiper-wrapper {
    display: contents; /* Use CSS Grid instead of Swiper for desktop */
  }

  .swiper-slide {
    width: auto !important; /* Override Swiper's inline styles */
  }
}

@media (max-width: 768px) {
  .unifi-section {
    flex-direction: column;
  }

  .unifi-list {
    order: 2;
    flex: 1;
    max-width: none;
  }
  
  .unifi-video {
    order: 1;
    flex: 1;
  }
}